<section data-ng-controller="HomeController">
	<div data-ng-if="! authentication.user">
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<h2>Pythia LMS</h2>
					<p data-ng-bind="'HOME.JUMBOTRON' | translate"></p>
				</div>
				<div class="row">
					<p><a class="btn btn-primary btn-lg" href="http://github.com/pythia-project/pythia-lms" target="_blank" data-ng-bind="'HOME.LEARN_MORE' | translate"></a></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="row text-center">
					<h3 data-ng-bind="'HOME.LEARN_CODE' | translate"></h3>
				</div>
				<p data-ng-bind="'HOME.LEARN_CODE_DESC' | translate"></p>
			</div>
			<div class="col-md-4">
				<div class="row text-center">
					<h3 data-ng-bind="'HOME.CREATE_COURSES' | translate"></h3>
				</div>
				<p data-ng-bind="'HOME.CREATE_COURSES_DESC' | translate"></p>
			</div>
			<div class="col-md-4">
				<div class="row text-center">
					<h3 data-ng-bind="'HOME.MANAGE_CLASSROOMS' | translate"></h3>
				</div>
				<p data-ng-bind="'HOME.MANAGE_CLASSROOMS_DESC' | translate"></p>
			</div>
		</div>
	</div>

	<div data-ng-if="authentication.user">
		<h2>{{'DASHBOARD.DASHBOARD' | translate}}</h2>
	</div>
</section>