<section data-ng-controller="HomeController">
	<div data-ng-if="! authentication.user">
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<h2>Pythia LMS</h2>
					<p>Learn to code and test directly the newly learned concepts with courses proposed on Pythia LMS. Make progress with the intelligent feedbacks and the customised learning experience.</p>
				</div>
				<div class="row">
					<p><a class="btn btn-primary btn-lg" href="http://github.com/pythia-project/pythia-lms" target="_blank">Learn more</a></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="row text-center">
					<h3>Learn to code</h3>
				</div>
				<p>Pythia LMS proposes problems to be directly solved online, and that will be automatically graded thanks to the Pythia platform. The intelligent feedbacks proposed will help you to make progress throughout your learning.</p>
			</div>
			<div class="col-md-4">
				<div class="row text-center">
					<h3>Create courses</h3>
				</div>
				<p>Pythia LMS allows you to create courses that are organised in sequences of lessons. The accessibility to sequences and lessons can be controlled to customise the users' learning experience.</p>
			</div>
			<div class="col-md-4">
				<div class="row text-center">
					<h3>Manage classrooms</h3>
				</div>
				<p>Pythia LMS offers an easy way for teachers to manage their classrooms and share code between the learners. Statistics about learners' performance are also provided to help teachers adapt their courses.</p>
			</div>
		</div>
	</div>

	<div data-ng-if="authentication.user">
		<h2>{{'DASHBOARD.DASHBOARD' | translate}}</h2>
	</div>
</section>