<section data-ng-controller="HomeController">
	<div data-ng-if="! authentication.user">
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<h2>Pythia LMS</h2>
					<p data-ng-bind="'HOME.JUMBOTRON' | translate"></p>
				</div>
				<div class="row">
					<p><a class="btn btn-primary btn-lg" href="http://github.com/pythia-project/pythia-lms" target="_blank" data-ng-bind="'HOME.LEARN_MORE' | translate"></a></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="row text-center">
					<h3 data-ng-bind="'HOME.LEARN_CODE' | translate"></h3>
				</div>
				<p data-ng-bind="'HOME.LEARN_CODE_DESC' | translate"></p>
			</div>
			<div class="col-md-4">
				<div class="row text-center">
					<h3 data-ng-bind="'HOME.CREATE_COURSES' | translate"></h3>
				</div>
				<p data-ng-bind="'HOME.CREATE_COURSES_DESC' | translate"></p>
			</div>
			<div class="col-md-4">
				<div class="row text-center">
					<h3 data-ng-bind="'HOME.MANAGE_CLASSROOMS' | translate"></h3>
				</div>
				<p data-ng-bind="'HOME.MANAGE_CLASSROOMS_DESC' | translate"></p>
			</div>
		</div>
	</div>

	<div data-ng-if="authentication.user" data-ng-controller="DashboardController">
		<h2>{{'DASHBOARD.DASHBOARD' | translate}}</h2>

		<div class="row">
			<div class="col-md-8" data-ng-init="findRegisteredCourses()">
				<div data-ng-if="registrations !== null && registrations.length > 0" data-ng-repeat="registration in registrations | orderBy: '+course.serial'" class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">[{{registration.course.serial}}] {{registration.course.title}}</h3>
					</div>
					<div class="panel-body">
						<dl class="dl-horizontal">
							<dt data-ng-bind="'DASHBOARD.SCORE' | translate"></dt>
							<dd>{{registration.score}} {{'DASHBOARD.POINTS' | translate}}</dd>
							<dt data-ng-bind="'DASHBOARD.PROGRESS' | translate"></dt>
							<dd data-ng-init="progress = getProgress(registration)">
								<progressbar class="statsprogressbar pull-left" animate="false" max="100" value="progress" type="primary"><span data-ng-hide="progress < 15" data-ng-bind="progress + '%'"></span></progressbar>
							</dd>
						<dl>
						<div class="pull-right"><a data-ng-href="#!/courses/{{registration.course.serial}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{'DASHBOARD.GOTO_COURSE' | translate}}</a></div>
					</div>
				</div>
				<div data-ng-if="registrations !== null && registrations.length === 0" class="alert alert-warning" role="alert" data-ng-bind="'DASHBOARD.NO_REGISTRATION' | translate"></div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-info" data-ng-init="findNews()">
					<div class="panel-heading">
						<h3 class="panel-title" data-ng-bind="'DASHBOARD.NEWS' | translate"></h3>
					</div>
					<div class="panel-body">
						<p data-ng-if="news.$resolved && news.length == 0" data-ng-bind="'DASHBOARD.NO_NEWS' | translate"></p>
						<ul class="newslist" data-ng-if="news.$resolved && news.length > 0">
							<li data-ng-repeat="news in news | orderBy: '-created'">[<span data-ng-if="news.course !== null" data-ng-bind="news.course.serial"></span><span data-ng-if="news.course === null" data-ng-bind="'NEWS.GENERAL' | translate"></span>] <a data-ng-href="/#!/news/{{news._id}}">{{news.title}}</a> <small>({{news.created | amDateFormat:'ddd, D MMM YYYY, H:mm'}})</small></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>