<section class="row" data-ng-controller="AuthenticationController">
	<h3 data-ng-bind="'USER.SIGNUP' | translate"></h3>

	<div class="col-md-12">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstname" data-ng-bind="'USER.FIRSTNAME' | translate"></label>
					<input type="text" required id="firstname" name="firstname" class="form-control" data-ng-model="credentials.firstname" placeholder="{{'USER.FIRSTNAME' | translate}}">
				</div>
				<div class="form-group">
					<label for="lastName" data-ng-bind="'USER.LASTNAME' | translate"></label>
					<input type="text" id="lastname" name="lastname" class="form-control" data-ng-model="credentials.lastname" placeholder="{{'USER.LASTNAME' | translate}}">
				</div>
				<div class="form-group">
					<label for="email" data-ng-bind="'USER.EMAIL' | translate"></label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="{{'USER.EMAIL' | translate}}">
				</div>
				<div class="form-group">
					<label for="username" data-ng-bind="'USER.USERNAME' | translate"></label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="{{'USER.USERNAME' | translate}}">
				</div>
				<div class="form-group">
					<label for="password" data-ng-bind="'USER.PASSWORD' | translate"></label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="{{'USER.PASSWORD' | translate}}">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-large btn-primary" data-ng-bind="'USER.SIGNUP' | translate"></button>&nbsp;</a>
				</div>
				<div data-ng-show="success" class="text-success">
					<strong data-ng-bind="'USER.ACCOUNT_CREATED' | translate"></strong>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>