h2 {
	font-size: 30px;
	margin-bottom: 25px;
}
h3 {
	font-size: 20px;
}

footer {
	margin-top: 40px;
}
footer > div {
	border-top: 1px solid #eee;
	padding: 20px 0;
}

.success-icon {
	color: #090;
}
.failed-icon {
	color: #900;
}

img.grayscale, input[type="image"].grayscale {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	opacity: 0.5;
}

img.iconuserpic {
	margin: -10px 0 0 5px;
}

div.action-box {
	margin-bottom: 15px;
	text-align: right;
}

figure {
	text-align: center;
	margin: 25px 0;
}
figcaption {
	font-size: 9.5pt;
	text-align: center;
}

.content {
	margin-top: 50px;
}
p {
	text-align: justify;
	line-height: 1.6em;
}

div.feedback {
	margin: 15px 0 0 0;
}
div.feedback pre {
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin: 10px 0 10px 0;
	border-left: 5px solid #999;
}

div.problem {
	margin: 25px 0;
}

.statsprogressbar {
	min-width: 200px;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

ul.newslist {
	list-style-type: none;
	padding: 0;
}
ul.newslist > li {
	margin-bottom: 5px;
}

/* Bootstrap change */
.navbar-inverse .navbar-brand > img {
	margin-top: -7px;
}

.navbar-inverse {
	background-image: linear-gradient(to bottom, #4e9a06 0%, #418105 100%);
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open a:focus {
	color: #FFFFFF;
	background-image: linear-gradient(to bottom, #396B0B 0%, #1A2F07 100%);
}

/* CodeMirror change */
.CodeMirror {
	border: 1px solid #ccc;
	font-size: 9pt;
	height: auto;
	margin: 20px 0;
}

div.codearea div:nth-child(1) div.CodeMirror {
	border-bottom: none;
	padding-left: 31px;
}

div.codearea div:nth-child(2) div.CodeMirror {
	border-top: none;
	border-bottom: none;
	margin: -20px 0;
}

div.codearea div:nth-child(3) div.CodeMirror {
	border-top: none;
	padding-left: 31px;
}

/* MEAN.js generated */

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

span.flag-gb::before {
	content:url('/images/gb.png');
	margin-right: 10px;
}
span.flag-be::before {
	content:url('/images/be.png');
	margin-right: 10px;
}
span.flag-pl::before {
	content:url('/images/pl.png');
	margin-right: 10px;
}
