<section data-ng-controller="CoursesController" data-ng-init="loadStats()">
	<div data-ng-if="registrations !== null && course._id !== undefined">
		<ol class="breadcrumb">
			<li data-ng-if="authentication.user && authentication.user.roles.indexOf('admin') !== -1"><a href="#!/courses/manage" data-ng-bind="'COURSE.COURSES' | translate"></a></li>
			<li data-ng-if="! authentication.user || authentication.user.roles.indexOf('admin') === -1"><a href="#!/courses" data-ng-bind="'COURSE.COURSES' | translate"></a></li>
			<li><a data-ng-href="#!/courses/{{course.serial}}" data-ng-bind="course.serial"></a></li>
			<li class="active"><a data-ng-href="#!/courses/{{course.serial}}/stats" data-ng-bind="'COURSE.STATS' | translate"></a></li>
		</ol>

		<h2 data-ng-bind="'COURSE.STATS' | translate"></h2>

		<div class="row">
			<div class="col-md-9">
				<h3 data-ng-bind="'COURSE.GLOBAL_STATS' | translate"></h3>

				<flot dataset="scorehisto" options="scorehistoopt" width="400" height="200"></flot>

				<h3 data-ng-bind="'COURSE.USERS_STATS' | translate"></h3>

				<ul class="list-group">
					<li data-ng-repeat="registration in registrations | orderBy: '+user.lastname'" class="list-group-item">
					<span data-ng-if="authentication.user && authentication.user.roles.indexOf('admin') !== -1"><a href="#!/users/{{registration.user.username}}">{{registration.user.firstname}} {{registration.user.lastname}}</a></span>
					<span data-ng-if="authentication.user && authentication.user.roles.indexOf('admin') === -1">{{registration.user.firstname}} {{registration.user.lastname}}</span>
					({{registration.score}} {{'COURSE.POINTS' | translate}}) <progressbar data-ng-init="progress = getProgress(registration)" class="pull-right statsprogressbar" animate="false" max="100" value="progress" type="primary"><span data-ng-hide="progress < 15" data-ng-bind="progress + '%'"></span></progressbar></li>
				</ul>
			</div>

			<div class="col-md-3">
				<div class="panel panel-info">
					<div class="panel-heading"><h3 class="panel-title" data-ng-bind="'LESSON.INFORMATION' | translate"></h3></div>
					<div class="panel-body">
						<dl>
							<dt data-ng-bind="'COURSE.REGISTERED_USERS' | translate"></dt>
							<dd data-ng-bind="registrations.length"></dd>
						</dl>
						<dl>
							<dt data-ng-bind="'COURSE.TOTAL_SUBMISSIONS' | translate"></dt>
							<dd>{{totalSubmissions}}</dd>
						</dl>
						<dl>
							<dt data-ng-bind="'COURSE.MAX_SCORE' | translate"></dt>
							<dd>{{maxScore}} points</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div data-ng-if="registrations !== null && course._id === undefined">
		<h2 data-ng-bind="'COURSE.ERROR' | translate"></h2>
		<div class="alert alert-danger" role="alert" data-ng-bind="'COURSE.ACCESS_DENIED' | translate"></div>
	</div>
</section>										