<section data-ng-controller="CoursesController">
	<h2>Create course</h2>

	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="coordinator">Coordinator</label>
					<div class="controls">
						<input type="text" data-ng-model="coordinator" id="coordinator" class="form-control" placeholder="Coordinator" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea data-ng-model="description" id="description" class="form-control" placeholder="Description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>