<section data-ng-controller="CoursesController" data-ng-init="findOne()">
	<div data-ng-if="course.$resolved && course._id !== undefined">
		<ol class="breadcrumb">
			<li data-ng-if="authentication.user && authentication.user.roles.indexOf('admin') !== -1"><a href="#!/courses/manage" data-ng-bind="'COURSE.COURSES' | translate"></a></li>
			<li data-ng-if="! authentication.user || authentication.user.roles.indexOf('admin') === -1"><a href="#!/courses" data-ng-bind="'COURSE.COURSES' | translate"></a></li>
			<li class="active"><a data-ng-href="#!/courses/{{course.serial}}">{{course.serial}}</a></li>
		</ol>

		<h2 data-ng-bind="'COURSE.EDIT_COURSE' | translate"></h2>

		<div class="col-md-12" data-ng-init="initCourseForm()">
			<form class="form-horizontal" data-ng-submit="update()" novalidate>
				<fieldset>
					<div class="form-group">
						<label class="control-label" for="serial" data-ng-bind="'COURSE.SERIAL' | translate"></label>
						<div class="controls">
							<input type="text" data-ng-model="course.serial" id="serial" class="form-control" placeholder="{{'COURSE.SERIAL' | translate}}" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="title" data-ng-bind="'COURSE.TITLE' | translate"></label>
						<div class="controls">
							<input type="text" data-ng-model="course.title" id="title" class="form-control" placeholder="{{'COURSE.TITLE' | translate}}" required>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="coordinators" data-ng-bind="'COURSE.COORDINATORS' | translate"></label>
						<tags-input data-ng-model="course.coordinators" add-on-blur="false" add-from-autocomplete-only display-property="displayname" placeholder="{{'COURSE.ADD_COORDINATOR' | translate}}">
							<auto-complete source="loadTeachers($query)" min-length="0"></auto-complete>
						</tags-input>
					</div>
					<div class="form-group">
						<label class="control-label" for="description" data-ng-bind="'COURSE.DESCRIPTION' | translate"></label>
						<div class="controls">
							<textarea data-ng-model="course.description" id="description" class="form-control" placeholder="{{'COURSE.DESCRIPTION' | translate}}"></textarea>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" data-ng-bind="'COURSE.UPDATE' | translate"></button>
					</div>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<div data-ng-if="course.$resolved && course._id === undefined">
		<h2 data-ng-bind="'COURSE.ERROR' | translate"></h2>
		<div class="alert alert-danger" role="alert" data-ng-bind="'COURSE.ACCESS_DENIED' | translate"></div>
	</div>
</section>