<section data-ng-controller="CoursesController" data-ng-init="find()">
	<h2>Courses</h2>

	<div class="action-box" class="text-right" data-ng-if="(authentication.user) && (authentication.user.roles.indexOf('admin') != -1)">
		<a href="#!/courses/create" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New course</a>
	</div>

	<div class="list-group">
		<a data-ng-repeat="course in courses" data-ng-href="#!/courses/{{course.serial}}" class="list-group-item">{{course.serial}} &mdash; {{course.title}} <span class="pull-right"><img src="images/visibility.png" alt="Visibility" width="25" height="17" data-ng-class="{grayscale: ! course.visible}" /></span></a>
	</div>
</section>