<section data-ng-controller="CoursesController" data-ng-init="find('opened')">
	<h2>Register to a course</h2>

	<ul data-ng-if="courses.$resolved && courses.length > 0" class="list-group" id="courses">
		<li data-ng-repeat="course in courses" class="list-group-item">{{course.serial}} &mdash; {{course.title}}<span class="pull-right"><img src="images/register.png" alt="Register" width="25" height="25" data-ng-click="register($index);$event.preventDefault();" /></span></li>
	</ul>
	<div data-ng-if="courses.$resolved && courses.length === 0" class="alert alert-warning" role="alert">
		No available courses.
	</div>
</section>