<section data-ng-controller="ProblemsController" data-ng-init="find()">
	<h2 data-ng-bind="'PROBLEM.PROBLEMS' | translate"></h2>

	<div class="action-box" class="text-right">
		<a href="#!/problems/create" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'PROBLEM.NEW_PROBLEM' | translate}}</a>
	</div>

	<div data-ng-if="problems.$resolved && problems.length > 0" class="list-group">
		<a data-ng-repeat="problem in problems | orderBy: '+name'" data-ng-href="#!/problems/{{problem._id}}" class="list-group-item" data-ng-bind="problem.name"></a>
	</div>
	<div data-ng-if="problems.$resolved && problems.length === 0" class="alert alert-warning" role="alert" data-ng-bind="'PROBLEM.NO_PROBLEM' | translate"></div>
</section>