<section data-ng-controller="LessonsController" data-ng-init="findOne()">
	<ol class="breadcrumb">
		<li><a href="#!/courses">Courses</a></li>
		<li><a data-ng-href="#!/courses/{{courseSerial}}" data-ng-bind="courseSerial"></a></li>
		<li><a data-ng-href="#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}" data-ng-bind="sequence.name"></a></li>
		<li class="active"><a data-ng-href="#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}/lessons/{{lessonIndex}}" data-ng-bind="lesson.name"></a></li>
	</ol>

	<h2>Edit Lesson</h2>

	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="lesson.name" id="name" class="form-control" placeholder="Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="start">Start date</label>
					<div class="controls">
						<div class="dropdown">
							<a class="dropdown-toggle" id="startDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
								<div class="input-group"><input type="text" class="form-control" data-ng-model="lesson.start"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="startLabel">
								<datetimepicker data-ng-model="lesson.start" data-datetimepicker-config="{dropdownSelector: '#startDropdown' }"></datetimepicker>
							</ul>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="end">End date</label>
					<div class="controls">
						<div class="dropdown">
							<a class="dropdown-toggle" id="endDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
								<div class="input-group"><input type="text" class="form-control" data-ng-model="lesson.end"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="endLabel">
								<datetimepicker data-ng-model="lesson.end" data-datetimepicker-config="{dropdownSelector: '#endDropdown' }"></datetimepicker>
							</ul>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="context">Context</label>
					<div class="controls">
						<textarea data-ng-model="lesson.context" id="context" class="form-control" placeholder="Context" rows="10"></textarea>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>