<section id="lessoncontent" data-ng-controller="LessonsController" data-ng-init="findOne()">
	<div data-ng-if="lesson.$resolved && lesson._id !== undefined">
		<ol class="breadcrumb">
			<li><a href="#!/courses" data-ng-bind="'COURSE.COURSES' | translate"></a></li>
			<li><a data-ng-href="#!/courses/{{courseSerial}}" data-ng-bind="courseSerial"></a></li>
			<li><a data-ng-href="#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}" data-ng-bind="sequence.name"></a></li>
			<li class="active"><a data-ng-href="#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}/lessons/{{lessonIndex}}" data-ng-bind="lesson.name"></a></li>
			<li class="active"><a data-ng-href="#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}/lessons/{{lessonIndex}}/stats" data-ng-bind="'LESSON.STATS' | translate"></a></li>
		</ol>

		<h2 data-ng-bind="'LESSON.STATS' | translate"></h2>
	</div>

	<div data-ng-if="lesson.$resolved && lesson._id === undefined">
		<h2 data-ng-bind="'LESSON.ERROR' | translate"></h2>
		<div class="alert alert-danger" role="alert" data-ng-bind="'LESSON.ACCESS_DENIED' | translate"></div>
	</div>
</section>