<section data-ng-controller="LessonsController" data-ng-init="findOne()">
	<ol class="breadcrumb">
		<li><a href="#!/courses">Courses</a></li>
		<li><a data-ng-href="#!/courses/{{courseSerial}}">{{courseSerial}}</a></li>
		<li><a data-ng-href="#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}">{{sequence.name}}</a></li>
		<li class="active"><a data-ng-href="#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}/lessons/{{lessonIndex}}">{{lesson.name}}</a></li>
	</ol>

	<h2>{{lesson.name}}</h2>

	<div class="context" data-ng-bind-html="lesson.context"></div>
</section>