<section id="lessoncontent" data-ng-controller="LessonsController" data-ng-init="findOne()">
	<div data-ng-if="lesson.$resolved && lesson._id !== undefined">
		<ol class="breadcrumb">
			<li><a href="#!/courses" data-ng-bind="'COURSE.COURSES' | translate"></a></li>
			<li><a data-ng-href="#!/courses/{{courseSerial}}" data-ng-bind="courseSerial"></a></li>
			<li><a data-ng-href="#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}" data-ng-bind="sequence.name"></a></li>
			<li class="active"><a data-ng-href="#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}/lessons/{{lessonIndex}}" data-ng-bind="lesson.name"></a></li>
		</ol>

		<h2 data-ng-bind="lesson.name"></h2>

		<div class="row">
			<div class="col-md-9">
				<div class="action-box" data-ng-if="authentication.user && authentication.user.roles.indexOf('admin') !== -1">
					<a data-ng-href="#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}/lessons/{{lessonIndex}}/edit" class="btn btn-success"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{'LESSON.EDIT_LESSON' | translate}}</a> <a data-ng-if="hasRole(['admin']) || isCoordinator()" data-ng-href="#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}/lessons/{{lessonIndex}}/stats" class="btn btn-primary"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{'LESSON.STATS' | translate}}</a>
				</div>

				<div class="context" data-bind-html-compile="lessonContext"></div>

				<ul class="pager" data-ng-init="nextLessonId = parseint(lessonIndex) + 1; previousLessonId = parseint(lessonIndex) - 1">
					<li data-ng-if="previousLesson !== null" data-ng-init="prevDisabled = previousLesson !== null && ((previousLesson.start === null || isAfter(previousLesson.start)) && (previousLesson.end === null || isBefore(previousLesson.end)))" data-ng-class="{'previous': true, 'disabled': ! prevDisabled}"><a href="/#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}/lessons/{{previousLessonId}}" data-ng-bind="'LESSON.PREVIOUS_LESSON' | translate"></a></li>
					<li data-ng-if="nextLesson !== null" data-ng-init="nextDisabled = nextLesson !== null && ((nextLesson.start === null || isAfter(nextLesson.start)) && (nextLesson.end === null || isBefore(nextLesson.end)))" data-ng-class="{'next': true, 'disabled': ! nextDisabled}"><a href="/#!/courses/{{courseSerial}}/sequences/{{sequenceIndex}}/lessons/{{nextLessonId}}" data-ng-bind="'LESSON.NEXT_LESSON' | translate"></a></li>
				</ul>
			</div>

			<div class="col-md-3">
				<div class="panel panel-info">
					<div class="panel-heading"><h3 class="panel-title" data-ng-bind="'LESSON.INFORMATION' | translate"></h3></div>
					<div class="panel-body">
						<dl data-ng-if="lesson.start !== null">
							<dt data-ng-bind="'LESSON.START_DATE' | translate"></dt>
							<dd data-ng-bind="lesson.start | amDateFormat:'ddd, D MMM YYYY, H:mm'"></dd>
						</dl>
						<dl data-ng-if="lesson.end !== null">
							<dt data-ng-bind="'LESSON.END_DATE' | translate"></dt>
							<dd data-ng-bind="lesson.end | amDateFormat:'ddd, D MMM YYYY, H:mm'"></dd>
						</dl>
						<dl data-ng-if="registration !== null">
							<dt data-ng-bind="'LESSON.SCORE' | translate"></dt>
							<dd>{{score}} {{'LESSON.POINTS' | translate}}</dd>
						</dl>
						<dl data-ng-if="registration !== null">
							<dt data-ng-bind="'LESSON.PROGRESS' | translate"></dt>
							<dd>
								<progressbar animate="false" max="100" value="progress" type="primary"><span data-ng-hide="progress < 15" data-ng-bind="progress + '%'"></span></progressbar>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div data-ng-if="lesson.$resolved && lesson._id === undefined">
		<h2 data-ng-bind="'LESSON.ERROR' | translate"></h2>
		<div class="alert alert-danger" role="alert" data-ng-bind="'LESSON.ACCESS_DENIED' | translate"></div>
	</div>
</section>