<section class="row" data-ng-controller="SettingsController">
	<h2 data-ng-bind="'USER.CHANGE_PASSWORD' | translate"></h3>
	
	<div class="col-md-12">
		<form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="currentPassword" data-ng-bind="'USER.CURRENT_PASSWORD' | translate"></label>
					<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="{{'USER.CURRENT_PASSWORD' | translate}}">
				</div>
				<div class="form-group">
					<label for="newPassword" data-ng-bind="'USER.NEW_PASSWORD' | translate"></label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="{{'USER.NEW_PASSWORD' | translate}}">
				</div>
				<div class="form-group">
					<label for="verifyPassword" data-ng-bind="'USER.CONFIRM_PASSWORD' | translate"></label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="{{'USER.CONFIRM_PASSWORD' | translate}}">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-large btn-primary" data-ng-bind="'USER.SAVE_PASSWORD' | translate"></button>
				</div>
				<div data-ng-show="success" class="text-success">
					<strong data-ng-bind="'USER.PASSWORD_CHANGE_SUCCESS' | translate"></strong>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>