<section data-ng-controller="SequencesController" data-ng-init="findCourse()">
	<ol class="breadcrumb">
		<li><a href="#!/courses">Courses</a></li>
		<li class="active"><a data-ng-href="#!/courses/{{course.serial}}">{{course.serial}}</a></li>
	</ol>

	<h2>Create sequence</h2>

	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="course">Course</label>
					<div class="controls">
						<input type="text" data-ng-model="course.title" id="course" class="form-control" placeholder="Course" required disabled>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea data-ng-model="description" id="description" class="form-control" placeholder="Description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>