<section data-ng-controller="UsersController" data-ng-init="find()">
	<h2 data-ng-bind="'USER.USERS' | translate"></h2>

	<div class="row">
		<div class="col-md-9">
			<div data-ng-if="users.$resolved && users.length > 0" class="list-group">
				<a data-ng-repeat="user in users | orderBy: '+lastname'" class="list-group-item" data-ng-href="#!/users/{{user.username}}"><img data-ng-src="/images/users/{{user._id}}.jpg" width="25" height="25" class="iconuserpic" data-ng-if="user.picture" /> {{user.firstname}} {{user.lastname}}<span class="pull-right"><img src="images/user.png" alt="Register" width="21" height="25" data-ng-class="{grayscale: ! user.active}" data-ng-click="changeActive(user);$event.preventDefault();" /> <img src="images/delete.png" alt="Register" width="25" height="25" data-ng-click="delete(user);$event.preventDefault();" /></span></a>
			</div>
			<div data-ng-if="users.$resolved && users.length === 0" class="alert alert-warning" role="alert" data-ng-bind="'USER.NO_USER' | translate"></div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="panel-title" data-ng-bind="'LESSON.INFORMATION' | translate"></h3></div>
				<div class="panel-body">
					<dl>
						<dt data-ng-bind="'USER.NB_USERS' | translate"></dt>
						<dd data-ng-bind="users.length"></dd>
					</dl>
					<dl>
						<dt data-ng-bind="'USER.NB_INACTIVE_USERS' | translate"></dt>
						<dd data-ng-bind="inactiveusers"></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</section>